{% extends 'base.html' %} {% load static %} {% block content %}
<!-- hero -->
<div class="container px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_ocib98vu.json"  background="transparent"  speed="1"  style="width: 700px; height: 500px;"  loop  autoplay></lottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Asset Management and Private Equity</h1>
            <p class="lead"><span style="color: #928075ff;">Heptra Capital</span> is a fundamentally oriented investment group that identifies and captures compelling long-term investment opportunities presented by market inefficiencies</p>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'administrator' %}" class="btn btn-outline-dark btn-lg px-4 me-md-2">Admin Login</a>
                    <a href="{% url 'investor' %}" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Investors Login</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg px-4 me-md-2">Admin Login</a>
                    <a href="{% url 'investor' %}" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Investors Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- origin -->
<div id="origin" class="container">
    <div class="row featurette">
        <div class="col-md-8 order-md-2">
            <h2 class="py-4 fw-bold">Origin. <span class="text-muted">It’ll blow your mind</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-4 order-md-1">
            <img src="{% static '/assets/Origin.png' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="400" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        </div>
    </div>

    <div class="container">
        <div class="row featurette">
            <div class="col-md-8">
                <h2 class="fw-bold">Prometheus. <span class="text-muted">One of a kind fund.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static '/assets/Prometheus.png' %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
            </div>
        </div>
    </div>    
</div>

{% endblock %}