<div class="row text-center">
    <div class="col-lg-4">
        <h2><i class="fas fa-briefcase" aria-hidden="true"></i>${{prometheus.capital}}</h2>
        <span class="text-muted">Prometheus Capital</span> 
    </div>
    <div class="col-lg-4">
        <h2><i class="fas fa-code-branch" aria-hidden="true"></i>${{prometheus.value}}</h2>
        <span class="text-muted">Prometheus Worth</span> 
    </div>
    <div class="col-lg-4">
        <h2><i class="far fa-building" aria-hidden="true"></i>{{prometheus.returns}}%</h2>
        <span class="text-muted">Prometheus Returns</span> 
    </div>
</div>
<br><br>