<div class="row text-center py-5">
    <div class="col-lg-4">
        <h2 style="color: #286181ff;">${{prometheus.capital}}</h2>
        <span class="text-muted">Prometheus Capital</span> 
    </div>
    <div class="col-lg-4">
        <h2 style="color: #286181ff;">${{prometheus.value}}</h2>
        <span class="text-muted">Prometheus Worth</span> 
    </div>
    <div class="col-lg-4">
        <h2 style="color: #286181ff;">{{prometheus.returns}}%</h2>
        <span class="text-muted">Prometheus Returns</span> 
    </div>
</div>
<br><br>